.componentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    background: #fff;
}

.cardHeader {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 350px;
}

.cardHeader > img {
    object-fit: cover;
    object-position: center;
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;
}

.cardHeader > img:hover {
    transform: scale(1.1);
}

.likeButtonContainer {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.cardContent {
    padding: 6px 2px 2px;
    width: 100%;
}

.cardContent > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardContent .title {
    font-size: 32px;
    font-family: FuturaPTDemi;
    margin: 0;
} 
.cardContent .launchAndLandDate > * {
    display: inline-block;
    font-size: 17px;  
}

.launchAndLandDate > *:first-child {
    margin-right: 20px;
}
.launchAndLandDate img {
    margin-right: 5px;
}
.launchAndLandDate span {
    font-family: FuturaPTDemi;
}

.cardContent > .captureDate {
    width: fit-content;
    margin: 0 0 0 auto;
}

@media screen and (max-width: 1330px) {
    .cardContent .title {
        font-size: 26px;
        font-family: FuturaPTDemi;
        margin: 0;
    } 
    .cardContent .launchAndLandDate > * {
        display: inline-block;
        font-size: 14px;  
    }
    .launchAndLandDate > *:first-child {
        margin-right: 7px;
    }
    .launchAndLandDate img {
        margin-right: 4px;
        width: 11px;
        height: 11px;
    }

}