.main {
    padding: 80px 100px;
}

@media screen and (max-width: 1064px) {
    .main {
        padding: 80px 30px;
    }
}
@media screen and (max-width: 570px) {
    .main {
        padding: 80px 15px;
    }
}