.button{
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
}

.button:focus {
    outline: 2px solid #000;
}