.componentContainer {
    height: 100vh;
    display: flex;
}

.photoContainer {
    width: 50%;
}

.photoContainer > img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.photoDetails {
    width: 50%;
    padding: 25px 35px;
}

.photoDetails .containerTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.smallScreen {
    display: none;
}
.largeScreen {
    display: block;
}
.photoDetails .title {
    font-size: 32px;
}
.photoDetails .description {
    font-size: 20px;
    width: 100%;
}
.photoDetails .title,
.photoDetails .description {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
}

@media screen and (max-width: 800px) {
    .componentContainer {
        height: fit-content;
        display: block;
        width: 100%;
        padding: 25px 35px;
    }
    .photoContainer, .photoDetails {
        width: 100%;
    }
    .photoContainer > img {
        height: 460px;
        width: 100%;
        border-radius: 10px;
    }
    .photoDetails {
        padding: 0;
    }

    .smallScreen {
        display: block;
    }
    .largeScreen {
        display: none;
    }
}

@media screen and (max-width: 570px) {
    .componentContainer {
        height: fit-content;
        display: block;
        width: 100%;
        padding: 25px 15px;
    }   
}