.componentContainer {
    height: 85vh;
    position: relative;
}

.photoDetailsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
}

.photoDetailsContainer .title {
    color: #fff;
}

.photoDetailsContainer img {
    display: block;
    width: 400px;
    height: 400px;
}


.backgroundEffect {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.backgroundEffect img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    filter: blur(4px);
}

@media screen and (max-width: 1064px) {
    .photoDetailsContainer img {
    }
}
@media screen and (max-width: 570px) {
    .componentContainer {
        height: 85vh;
        position: relative;
    }
    .photoDetailsContainer div {
        width: 85%;
        height: 80%;
        margin: 0 auto;
    }
    .photoDetailsContainer div img {
        width: 100%;
    }
}