@import url('./fonts.css');

* {
  box-sizing: border-box;
}

:root {
  /* --primary-color:  */
  --background: #fff;
  --card-bg: #F2F2F1;
  --shadow-color: #E8E8E9;

  --lg-breakpoint: ;
  --md-breakpoint: ;
  --sm-breakpoint: ;
}


body {
  margin: 0;
  font-family: FuturaPTMedium;
  background: var(--background)
}